/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61fba4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.beech{
  position:absolute;
  top: 40%;
  left: 40%;
  
}

.beech2{
  position:absolute;
  top: 11%;
  left: 15.55%;
  width: auto;
  
  font-size: 460px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

#canvas-container {
  width: 100%;
  height: 100vh; /* Full viewport height */
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  display: block; /* Removes any inline-block whitespace */
}

.sun{
  position:absolute;
  top: 40%;
  left: 40%;
  
}

.number-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

.number {
  animation: pulse  infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.fact{
  position: absolute;
  top: 180%;
  left: 14%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
